.app-container {
	width: 740px;
	margin-top: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.header {
	margin-bottom: 0px;
}

.subheader {
	margin: 3px;
	color: #555;
}

ul.navbar {
	list-style-type: none;
	background-color: #f1f1f1;
	height: 38px;
	padding: 0;
	margin-bottom: 0;
}

li.navitem a.navlink {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li.navitem {
	float: left;
	height: 40px
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
} 

a.active {
	background-color: #AAAAAA;
	color: white;
}

.page {
	padding: 20px;
	margin-top: 0px;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}
