<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>example</title>
	<link rel="stylesheet" href="public/main.css"/>
</head>
<body>
	<div class="app-container">
	<nav>
		<div>
			<h1 class="header">My Blog</h1>
			<h6 class="subheader">Where I Blog Stuff</h6>
		</div>
		<ul class="navbar">
			<li class="navitem"><a class="navlink active" href="">Home</a></li>
			<li class="navitem"><a class="navlink" href="">Posts</a></li>
			<li class="navitem"><a class="navlink" href="">Tags</a></li>
			<li class="navitem" style="float: right;"><a class="navlink" href="">About</a></li>
		</ul>
	</nav>
	<div class="page">
		{{{body}}}
	</div>
	</div>
</body>
</html>
